.main-container {
  height: 100vh;
  overflow-y: scroll;
  background: #e5e5e5;
}

.wrapper {
  width: 70%;
  padding: 15px 30px;
  margin: 0 auto;
  background: #ffffff;
}

.full-wrapper {
  height: 100vh;
}

.search-input {
  margin-bottom: 20px;
}
