.movies-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  background: #ffffff;
}

@media (max-width: 500px) {
  .movies-list {
    size: small;
  }
}

.pagination {
  text-align: center;
}
